1.IMPORTING LIBRARIES

In [15]:
import pandas as pd
import numpy as np
import sklearn as sk 
import matplotlib.pyplot as plt 
import seaborn as sns

2.LOAD DATASET

In [16]:
df=pd.read_csv('C:\\Users\\jpodd\\OneDrive\\Desktop\\ML_DEPLOYX\\data\\StudentPerformanceFactors.csv')

3.DATA OVERVIEW

In [17]:
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [18]:
df.tail()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

4.DATA CLEANING AND PREPROCESSING

COPY OF DATA

In [19]:
df_clean = df.copy()

DUPLICATE RECORDS CHECK & REMOVE

In [20]:
df_clean.duplicated().sum()

np.int64(0)

In [21]:
df_clean.drop_duplicates(inplace=True)

In [22]:
df_clean.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [23]:
df_clean.shape

(6607, 20)

MISSING VALUES – IDENTIFY

In [24]:
df.isnull().sum()

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

In [25]:
df_clean["Teacher_Quality"].fillna(
    df_clean["Teacher_Quality"].mode()[0],
    inplace=True
)

C:\Users\jpodd\AppData\Local\Temp\ipykernel_23932\1932278636.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean["Teacher_Quality"].fillna(

In [26]:
df_clean["Parental_Education_Level"].fillna(
    df_clean["Parental_Education_Level"].mode()[0],
    inplace=True
)

C:\Users\jpodd\AppData\Local\Temp\ipykernel_23932\227432830.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean["Parental_Education_Level"].fillna(

In [27]:
df_clean["Distance_from_Home"].fillna(
    df_clean["Distance_from_Home"].mode()[0],
    inplace=True
)

C:\Users\jpodd\AppData\Local\Temp\ipykernel_23932\3617655133.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean["Distance_from_Home"].fillna(

In [28]:
df_clean.isnull().sum()

Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Access_to_Resources           0
Extracurricular_Activities    0
Sleep_Hours                   0
Previous_Scores               0
Motivation_Level              0
Internet_Access               0
Tutoring_Sessions             0
Family_Income                 0
Teacher_Quality               0
School_Type                   0
Peer_Influence                0
Physical_Activity             0
Learning_Disabilities         0
Parental_Education_Level      0
Distance_from_Home            0
Gender                        0
Exam_Score                    0
dtype: int64

DATA TYPE CONVERSION & ENCODING

In [29]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6607 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6607 non-null   object
 17  Distance_from_Home          6607 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [30]:
categorical_cols = df_clean.select_dtypes(include="object").columns
numerical_cols = df_clean.select_dtypes(include="int64").columns

print("Categorical Columns:", categorical_cols)
print("Numerical Columns:", numerical_cols)

Categorical Columns: Index(['Parental_Involvement', 'Access_to_Resources',
       'Extracurricular_Activities', 'Motivation_Level', 'Internet_Access',
       'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence',
       'Learning_Disabilities', 'Parental_Education_Level',
       'Distance_from_Home', 'Gender'],
      dtype='object')
Numerical Columns: Index(['Hours_Studied', 'Attendance', 'Sleep_Hours', 'Previous_Scores',
       'Tutoring_Sessions', 'Physical_Activity', 'Exam_Score'],
      dtype='object')

In [31]:
for col in categorical_cols:
    print(col, ":", df_clean[col].unique())
    print("-" * 50)

Parental_Involvement : ['Low' 'Medium' 'High']
--------------------------------------------------
Access_to_Resources : ['High' 'Medium' 'Low']
--------------------------------------------------
Extracurricular_Activities : ['No' 'Yes']
--------------------------------------------------
Motivation_Level : ['Low' 'Medium' 'High']
--------------------------------------------------
Internet_Access : ['Yes' 'No']
--------------------------------------------------
Family_Income : ['Low' 'Medium' 'High']
--------------------------------------------------
Teacher_Quality : ['Medium' 'High' 'Low']
--------------------------------------------------
School_Type : ['Public' 'Private']
--------------------------------------------------
Peer_Influence : ['Positive' 'Negative' 'Neutral']
--------------------------------------------------
Learning_Disabilities : ['No' 'Yes']
--------------------------------------------------
Parental_Education_Level : ['High School' 'College' 'Postgraduate']
--------------------------------------------------
Distance_from_Home : ['Near' 'Moderate' 'Far']
--------------------------------------------------
Gender : ['Male' 'Female']
--------------------------------------------------

In [32]:
df_encoded = pd.get_dummies(
    df_clean,
    columns=categorical_cols,
    drop_first=True
)

In [33]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 28 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Hours_Studied                          6607 non-null   int64
 1   Attendance                             6607 non-null   int64
 2   Sleep_Hours                            6607 non-null   int64
 3   Previous_Scores                        6607 non-null   int64
 4   Tutoring_Sessions                      6607 non-null   int64
 5   Physical_Activity                      6607 non-null   int64
 6   Exam_Score                             6607 non-null   int64
 7   Parental_Involvement_Low               6607 non-null   bool
 8   Parental_Involvement_Medium            6607 non-null   bool
 9   Access_to_Resources_Low                6607 non-null   bool
 10  Access_to_Resources_Medium             6607 non-null   bool
 11  Extracurricular_Activities_Yes         6607 non-null   bool
 12  Motivation_Level_Low                   6607 non-null   bool
 13  Motivation_Level_Medium                6607 non-null   bool
 14  Internet_Access_Yes                    6607 non-null   bool
 15  Family_Income_Low                      6607 non-null   bool
 16  Family_Income_Medium                   6607 non-null   bool
 17  Teacher_Quality_Low                    6607 non-null   bool
 18  Teacher_Quality_Medium                 6607 non-null   bool
 19  School_Type_Public                     6607 non-null   bool
 20  Peer_Influence_Neutral                 6607 non-null   bool
 21  Peer_Influence_Positive                6607 non-null   bool
 22  Learning_Disabilities_Yes              6607 non-null   bool
 23  Parental_Education_Level_High School   6607 non-null   bool
 24  Parental_Education_Level_Postgraduate  6607 non-null   bool
 25  Distance_from_Home_Moderate            6607 non-null   bool
 26  Distance_from_Home_Near                6607 non-null   bool
 27  Gender_Male                            6607 non-null   bool
dtypes: bool(21), int64(7)
memory usage: 496.9 KB

5.FEATURE ENGINEERING

COPY DATA

In [34]:
df_clean = df_clean.copy()

CREATE ACADEMIC INTENSITY FEATURE

In [35]:
df_clean["study_effort"] = (
    df_clean["Hours_Studied"] * 0.6 +
    df_clean["Attendance"] * 0.4
)

CREATE STUDENT CONSISTENCY FEATURE

In [36]:
df_clean["academic_consistency"] = (
    df_clean["Previous_Scores"] +
    df_clean["study_effort"]
) / 2

CREATE LIFESTYLE BALANCE FEATURE

In [37]:
df_clean["lifestyle_balance"] = (
    df_clean["Sleep_Hours"] +
    df_clean["Physical_Activity"]
) / 2

Attendance level

In [38]:
df_clean["attendance_level"] = pd.cut(
    df_clean["Attendance"],
    bins=[0, 60, 80, 100],
    labels=["low", "medium", "high"]
)

ENCODE NEW CATEGORICAL FEATURE

In [39]:
df_clean = pd.get_dummies(
    df_clean,
    columns=["attendance_level"],
    drop_first=True
)

DROP REDUNDANT / LESS USEFUL FEATURES

In [40]:
df_clean.drop(
    ["Hours_Studied", "Attendance"],
    axis=1,
    inplace=True
)

CHECK FINAL FEATURE SET

In [41]:
df_clean.shape
df_clean.head()

,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,...,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score,study_effort,academic_consistency,lifestyle_balance,attendance_level_medium,attendance_level_high
0,Low,High,No,7,73,Low,Yes,0,Low,Medium,...,No,High School,Near,Male,67,47.4,60.2,5.0,False,True
1,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,...,No,College,Moderate,Female,61,37.0,48.0,6.0,True,False
2,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,...,No,Postgraduate,Near,Male,74,53.6,72.3,5.5,False,True
3,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,...,No,High School,Moderate,Male,71,53.0,75.5,6.0,False,True
4,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,...,No,College,Near,Female,70,48.2,56.6,5.0,False,True

DATA SPLITTING

In [42]:
df.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [43]:
df_clean.columns

Index(['Parental_Involvement', 'Access_to_Resources',
       'Extracurricular_Activities', 'Sleep_Hours', 'Previous_Scores',
       'Motivation_Level', 'Internet_Access', 'Tutoring_Sessions',
       'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence',
       'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score', 'study_effort', 'academic_consistency',
       'lifestyle_balance', 'attendance_level_medium',
       'attendance_level_high'],
      dtype='object')

In [44]:
df_clean["pass_fail"] = (df_clean["Exam_Score"] >= 40).astype(int)

In [45]:
df_clean.columns

Index(['Parental_Involvement', 'Access_to_Resources',
       'Extracurricular_Activities', 'Sleep_Hours', 'Previous_Scores',
       'Motivation_Level', 'Internet_Access', 'Tutoring_Sessions',
       'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence',
       'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score', 'study_effort', 'academic_consistency',
       'lifestyle_balance', 'attendance_level_medium', 'attendance_level_high',
       'pass_fail'],
      dtype='object')

In [46]:
df_clean["pass_fail"].value_counts()

pass_fail
1    6607
Name: count, dtype: int64

DATA SPLITTING

In [47]:
# reload clean dataframe (fresh start)
df_temp = df.copy()

In [48]:
threshold = df_temp["Exam_Score"].median()

df_temp["pass_fail"] = (df_temp["Exam_Score"] >= threshold).astype(int)

In [49]:
df_temp["pass_fail"].value_counts()

pass_fail
1    3725
0    2882
Name: count, dtype: int64

In [50]:
df_temp.drop("Exam_Score", axis=1, inplace=True)

In [51]:
X = df_temp.drop("pass_fail", axis=1)
y = df_temp["pass_fail"]

In [52]:
import pandas as pd
X_encoded = pd.get_dummies(X, drop_first=True)

In [53]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_encoded,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [54]:
y_train.value_counts()

pass_fail
1    2980
0    2305
Name: count, dtype: int64

In [55]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [56]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)

y_pred_lr = lr.predict(X_test)

In [57]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)

In [58]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(
    n_estimators=100,
    random_state=42
)

rf.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)

In [59]:
from sklearn.metrics import accuracy_score

print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_lr))
print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred_dt))
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))

Logistic Regression Accuracy: 0.9773071104387292
Decision Tree Accuracy: 0.8199697428139183
Random Forest Accuracy: 0.8993948562783661

In [60]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred_rf))

              precision    recall  f1-score   support

           0       0.90      0.86      0.88       577
           1       0.90      0.93      0.91       745

    accuracy                           0.90      1322
   macro avg       0.90      0.90      0.90      1322
weighted avg       0.90      0.90      0.90      1322

In [61]:
sample = X_test[0].reshape(1, -1)

pred = rf.predict(sample)

if pred[0] == 1:
    print("Student is likely to PASS")
else:
    print("Student is likely to FAIL")

Student is likely to PASS

In [64]:
import os

# move working directory to project root
os.chdir("..")

print("Current Working Directory:", os.getcwd())

Current Working Directory: c:\Users\jpodd\OneDrive\Desktop\ML_DEPLOYX

In [65]:
import os
import pickle

# ensure model folder exists
os.makedirs("model", exist_ok=True)

# 1️⃣ save trained model (Random Forest)
with open("model/student_performance_model.pkl", "wb") as f:
    pickle.dump(rf, f)

# 2️⃣ save scaler
with open("model/scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

# 3️⃣ save feature column order
with open("model/columns.pkl", "wb") as f:
    pickle.dump(X_encoded.columns.tolist(), f)

print("✅ Model, scaler & columns saved successfully")

✅ Model, scaler & columns saved successfully